/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  color: lightgray;
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

main{
  padding: 20px 40px;
  max-width: 66%;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

h1{
  font-family: 'Meriweather', 'Noto Sans', sans-serif;
  font-size: 4rem;
  margin: 15px 0px;
}

h2{
  font-size: 2rem;
  margin: 10px 0px;
}

h3{
  font-size: 1.5rem;
}

button {
  padding: 5px 28px;
  border:none;
  /* background-color: #dde2b1; */
  background-color: #edd6ab;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

#buttonAnswer{
  display: none;
}

span{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.buttonAnswerChoice{
  flex:1;
  width: 300px;
  background-color: #531D2F;
  color:white;
}

li{
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #632303;
}

a{
  color:lightgray;
}

@media screen and (max-width: 1080px) {
  main{
    max-width: 100%;
    gap: 5px;
  }
  h1{
    margin: 5px 0px;
    font-size: 3rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1rem;
  }
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************